body {
    background-color : rgba(139, 139, 139, 0.54);
    margin: 0;
    padding: 0;
}
h3 {
    color : #000000;
    text-align : center;
    font-family: "SIMPSON";
}
form {
    background-color: white;
    width: 300px;
    margin: 0 auto;
}

div {
    text-align: center;
    padding-bottom: 15px;
}