<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="logging">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%method:%line - %msg%n}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}"/>
        </Console>

        <File name="DaoLogsFile" fileName="../webapps/logs/dao-log.txt">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%method:%line - %msg%n}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}"/>
        </File>
        <ServerAppender name="serverAppender" server="http://25.161.210.164:8080/server-log-app/logs">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%method:%line - %msg%n}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}"/>
        </ServerAppender>

        <Async name="Async" shutdownTimeout="30000">
            <AppenderRef ref="serverAppender"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Async"/>
        </Root>

        <Logger name="httpSernder" level="TRACE">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="dao">
            <AppenderRef ref="DaoLogsFile"/>
        </Logger>
    </Loggers>

</Configuration>